name: Test

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: setup-conda
              uses: s-weigand/setup-conda@v1.2.3
              with:
                # Additional channels like 'conda-forge' which can be used to install packages
                conda-channels: '' # optional, default is 'defaults conda-forge'
                # Additional packages which should be installed

            - name: Install dependencies
              run: |
                conda env create -n qiime2 --file environment.yml
                conda activate qiime2
                pip install git+https://github.com/PennChopMicrobiomeProgram/dnabc.git
                git clone https://github.com/Ulthran/q2-unassigner.git
                cd q2-unassigner
                make install
                
            - name: Dryrun
              run: |
                conda activate qiime2
                snakemake -n --profile test

            - name: Run
              run: |
                conda activate qiime2
                snakemake --profile test